node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
.dockerignore
README.md
LICENSE
*.log
npm-debug.log*
.DS_Store
coverage
build
out
public/uploads/*
!public/uploads/.gitkeep
prisma/*.db
prisma/*.db-journal
prisma/dev.db*
.vscode
.idea
